<%= provide(:title, 'Edit Project') %>

<% @header = capture do %>Edit Project<% end %>

<div class="row">
  <%= render 'form' %>
</div>

<span><%= link_to 'Back', @project %></span>
<span><%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' } %></span>
<span><%= link_to 'All Projects', @projects %></span>
