<%= provide(:title, 'Projects Index') %>

<h1>Projects</h1>

<dl class="projects">
  <% @projects.each_with_index do |project, index| %>
    <section class="project">
      <header class="project-header">
        <img alt="" src="#" class="project-img" />
        <dt><h2 class="project-title"><%= "#{index + 1}. " %><%= link_to project.name, project %></h2></dt>
        <p class="project-meta">
          <span class="creator">Created By: <%= print_member(project.creator_id) %></span>
          <!-- <a class="project-category" href="#"></a> -->
          <br /><span class="upd_at">Last Updated: <%= project.updated_at %></span>
        </p>
      </header>
      <dd class="project-desc">
        <%= project.description %>
      </dd>
    </section>
  <% end %>
</dl>

<%= render "links" %>

<%= paginate @projects %>
