<%= provide(:title, "Project: #{@project.name}") %>

<section class="project">
  <header class="project-header">
    <img alt="" src="#" class="project-img" />
    <dt><h1 class="project-name"><%= @project.name %></h1></dt>
    <p class="project-details">
      <span class="creator">Created By: <%= print_member(@project.creator_id) %></span><br />
      <!-- <a class="project-category" href="#"></a> --><br />
      <span class="upd_at">Last Updated: <%= @project.updated_at.to_formatted_s(:long) %></span>
    </p>
  </header>
  <section class="project-info">
    <dd><%= @project.description %></dd>
  </section>
</section>

<section class="tasks-list">
  <header><h2>Tasks</h2></header>
  <% @tasks.each do |task| %>
    <section class="task"><hr />
      <header class="task-header">
        <dt><h3 class="task-name"><%= link_to task.name, [@project, task] %></h3></dt>
        <p class="task-details">
          <span class="upd_at">Last Updated: <%= task.updated_at.to_formatted_s(:long) %></span><br />
          <span class="task-members"></span>
        </p>
      </header>
      <section class="task-info">
        <dd><%= task.description %></dd>
        <dd><%= task.keywords %></dd>
        <dd><%= task.needs %></dd>
      </section>
    </section>
  <% end %>
</section>

<%= render "links" %>
